doctype html
html(lang="en")
  head
    title='Mini Slack App'
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon" href=assetPath('favicon.ico'))
    link(rel="stylesheet" href=assetPath('main.css'))
    link(rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css')
    script.
      var gon = !{JSON.stringify(gon)};
  body
    #chat.container-fluid.d-flex.flex-column.flex-sm-row.px-0.vh-100
    // block content
    script(src=assetPath('main.js'))
